
@font-face {
  font-family: 'Humanist-Bold';
  src:url(#{$icon-font-path}humanistbold/Humanist777BT-BoldB.eot?#iefix) format('embedded-opentype'),
   url(#{$icon-font-path}humanistbold/Humanist777BT-BoldB.woff) format('woff'), 
   url(#{$icon-font-path}humanistbold/Humanist777BT-BoldB.ttf)  format('truetype'), 
   url(#{$icon-font-path}humanistbold/Humanist777BT-BoldB.svg#Humanist777BT-BoldB) format('svg');
  font-weight: normal;
  font-style: normal;
}
