
$scaleVar: 0.65;
$marginPage: 63px;

/* COLORS */

$darkClr: #003865; // 540
$mainClr: #004996; //reflex blue
$lightClr: #00B5E2; //306
$normalClr: #0078BF; //285
$brightClr: #61A4D7; //542
$greyishClr: #497593; //5405
$greyClr: #D2D2D2; //cool grey
$creamClr: #A1A5A7; //430
$deadClr: #4B5C66; //7546


/* More Colors */

$whiteClr: #fff;
$whitishClr: #CEDEDA;
$navSublink: #27325c;

/* fonts */
$HumanistBold: 'Humanist-Bold';
$HumanistRegular: 'Humanist-Roman';
